.App-logo {
    /* animation: App-logo-spin infinite 10s linear; */
    max-height: 100px;
    width: auto;
    z-index: 1;
  }


.navbar {
    /* background-color: rgba(83, 204, 46, 0.836) !important; */
}

.title {
  font-family: 'Cash Currency';
}

@media (min-width: 640px) {
  .title {
    font-family: 'Cash Currency';
  }
}

@font-face {
  font-family: 'Cash Currency';
  src: url('./Cash Currency.ttf')format('truetype');
  }
