.navbar-item img {
    max-height: 4rem !important;
}

.logo {
    width: 250px;
    height: auto;
    margin: auto;
}
.navbar-burger {
    color: white !important;
}
.title {
    font-family: 'Butler_Light';
}

@media (min-width: 640px) {
    .logo {
        width: 250px;
        height: auto;       
    }
    .navbar-brand {
        margin: 0px;
        padding: 0px;
        height: 110px;
    }
}

@font-face {
    font-family: 'Butler_Light';
    src: url('./Butler_Light.otf')format('opentype');
}